{% extends "base.html" %}
{% block content %}

<h1>Welcome to Your Home Page</h1>
   
    <hr />
    {% if users|length == 0 %}
    <p>No entries yet</p>
    {% else %}
    <ul>
        {% for user in users %}
        <li>
              
            <h2><a href = "/blog?userid={{user.id}}"> {{user.name}}</a></h2>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

    <ul>
<h2>Select Entry</h2>
    
        {% for entry in completed_entries %}
        <li>{{entry.name}}
        <form method = "POST" action ="/select-entry" style = "display:inline-block;">
            <input type = "hidden" name = "entry-id" value = "{{entry.id}}" />
            <input type = "submit" value = "Select" />
        </form>
        </li>
        {% endfor %}
    </ul>

